/* font family link */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    font-family: "Open Sans", sans-serif;
}

nav a {
    text-decoration: none;
}



.textPrimary {
    color: #FD6E0A;
}

.bgPrimary {
    background-color: #FD6E0A;
}

.textDark {
    color: #000000;
}

.textLightDark {
    color: #474747;
}

.logo {
    font-weight: 900;
    font-size: 45px;
}

.btnPrimary {
    border: none;
    padding: 10px 25px;
    font-weight: 700;
    font-size: 20px;
    color: white;
    border-radius: 5px;
}

.container {
    padding: 0px 120px;
}

.menus a {
    font-size: 20px;
    margin-left: 51px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.bar i {
    font-size: 25px;
}

.bar {
    display: none;
}

@media screen and (max-width:1024px) {
    .container {
        padding: 0px 10px;
    }

    .menus a {

        margin-left: 20px;
    }
}

@media screen and (max-width:768px) {
    .menus {
        display: none;
    }

    .bar {
        display: block;
    }
}