/* font family link */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    font-family: "Open Sans", sans-serif;
    margin: 0px;
    padding: 0px;
}

nav a {
    text-decoration: none;
}



.textPrimary {
    color: #FD6E0A;
}

.bgPrimary {
    background-color: #FD6E0A;
}

.textDark {
    color: #000000;
}

.textLightDark {
    color: #474747;
}

.textLight {
    color: #757575;
}

.logo {
    font-weight: 900;
    font-size: 45px;
}

.btnPrimary {
    border: 2px solid #FD6E0A;
    padding: 10px 25px;
    font-weight: 700;
    font-size: 20px;
    color: white;
    border-radius: 5px;
}

.btnLight {
    border: 2px solid #FD6E0A;
    padding: 10px 25px;
    font-weight: 700;
    font-size: 20px;
    color: #FD6E0A;
    border-radius: 5px;
}

.half-width {
    width: 50%;
}

.hero {
    display: flex;
    align-items: center;
}

.hero img {
    height: 450px;
    width: auto;
}

.rightdiv {
    display: flex;
    justify-content: end;
}

.container {
    padding: 0px 120px;
}

.menus a {
    font-size: 20px;
    margin-left: 51px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.bar i {
    font-size: 25px;
}

.bar {
    display: none;
}

header {
    background-image: url("./images/developer.png"), url("./images/header_bg.png");
    background-repeat: no-repeat;
    background-position: top left, bottom right;
    /* background-size: cover; */
}

.leftdiv h3 {
    font-size: 45px;
    font-weight: 600;
}

.leftdiv h1 {
    font-size: 75px;
    font-weight: 700;
}

.leftdiv p {
    margin-bottom: 30px;
    margin-top: 15px;
}



.leftdiv i {
    margin-right: 10px;
}

/* .leftdiv {
    padding-left: 120px;
} */

@media screen and (max-width:1224px) {
    .leftdiv h3 {
        font-size: 30px;

    }

    .leftdiv h1 {
        font-size: 55px;
        font-weight: 700;
    }

    .leftdiv p {

        margin-top: 10px;
    }

    .btnPrimary {

        padding: 5px 15px;
        font-size: 15px;

    }

    .btnLight {
        padding: 5px 15px;
        font-size: 15px;
    }


}

@media screen and (max-width:1024px) {
    .container {
        padding: 0px 10px;
    }

    .menus a {

        margin-left: 20px;
    }
}

@media screen and (max-width:768px) {
    .menus {
        display: none;
    }

    .bar {
        display: block;
    }

    .hero {
        flex-direction: column;
    }

    .half-width {
        width: 100%;
    }

    .leftdiv {
        text-align: center;
    }
}