/* font family link */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    font-family: "Open Sans", sans-serif;
    margin: 0px;
    padding: 0px;
}

.textPrimary {
    color: #FD6E0A;
}

.textLightDark {
    color: #474747;
}

.textLight,
.des {
    color: #757575;
}

nav a {
    text-decoration: none;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #FFF8F3;
    padding-top: 10px;
    padding-bottom: 10px;
    box-sizing: border-box;

}

.logo {
    font-weight: 900;
    font-size: 45px;
    color: #000000;
}

.btn {
    border: 2px solid #FD6E0A;
    padding: 10px 25px;
    font-weight: 700;
    font-size: 20px;
    border-radius: 5px;
}

.btnPrimary {
    background-color: #FD6E0A;
    color: white;
}

.btnLight {
    color: #FD6E0A;
    background-color: #ffffff;
}

.half-width {
    width: 50%;
}

.hero {
    display: flex;
    align-items: center;
    height: 670px;
    margin-top: 60px;
}

.rightdiv {
    display: flex;
    justify-content: end;
    background-image: url("./images/header_bg.png");
    background-position: bottom right;
    background-repeat: no-repeat;
    background-size: contain;
    height: 100%;
}

.container {
    padding: 0px 120px;
}

.container2 {
    padding-left: 120px;
}

.menus a {
    font-size: 20px;
    margin-left: 51px;
}

.bar i {
    font-size: 25px;
}

.bar {
    display: none;
}

header {
    background-image: url("./images/developer.png");
    background-repeat: no-repeat;
    background-position: top left;
    background-size: contain;
    background-color: #FFF8F3;
}

.leftdiv h3 {
    font-size: 45px;
    font-weight: 600;
}

.leftdiv h1 {
    font-size: 75px;
    font-weight: 700;
}

.leftdiv p {
    margin-bottom: 30px;
    margin-top: 15px;
}

.leftdiv i {
    margin-right: 10px;
}

.about {
    background-color: #FFF8F3;
    padding: 130px 150px;
    margin: 120px;
    border-radius: 5px;
}

.skill {
    margin: 120px;
}

.title {
    font-size: 35px;
    text-align: center;
    font-weight: 700;
    margin-bottom: 20px;
}

.des {
    font-size: 18px;
    text-align: center;
}

.personData {
    text-align: center;
    display: grid;
    grid-template-columns: auto auto auto auto;
    margin-top: 30px;
    justify-content: center;
    gap: 20px;
}

.card {
    width: 160px;
    height: 280px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.11);
    border-radius: 5px;
    text-align: left;
    padding: 30px;
}

.card img {
    margin-bottom: 30px;
}

/* resume summary css */
.resume {
    display: flex;
}

.resumeCard {
    height: 160px;
    margin-top: 25px;
}

.resumeWidth {
    padding: 10px;
}

hr {
    border: none;
    border-top: 2px solid #D1D1D1;
}

.fieldTitle {
    margin-bottom: 10px;
}

.place {
    margin-bottom: 13px;
}

.btnresume {
    text-align: center;
}

/* footer section code here */
footer {
    background-color: #FFF8F3;

}

.footerMain {
    padding-top: 120px;
    padding-bottom: 120px;
    display: flex;
    margin-top: 100px;
}

.footerLeft {
    padding-right: 40px;
}

.footerLeft img {
    margin: 0 5px;
}

.footerTitle {
    font-size: 35px;
    font-weight: 800;
    margin-bottom: 20px;
}

.icons {
    margin-top: 20px;
}

.inputs {
    margin-bottom: 24px;
    width: 100%;
    padding: 20px;
    border: 2px solid transparent;
    outline: none;
    box-sizing: border-box;
    border-radius: 5px;
}

.inputs:focus {
    border: 2px solid #FD6E0A;
}

.inputForm input:not([type="submit"]) {
    height: 64px;
}

.inputForm input[type="submit"] {
    cursor: pointer;
}

.inputForm textarea {
    height: 180px;
}

@media screen and (max-width:1224px) {
    .leftdiv h3 {
        font-size: 30px;
    }

    .leftdiv h1 {
        font-size: 55px;
        font-weight: 700;
    }

    .leftdiv p {
        margin-top: 10px;
    }

    .btnPrimary {
        padding: 5px 15px;
        font-size: 15px;
    }

    .btnLight {
        padding: 5px 15px;
        font-size: 15px;
    }

    .about {
        padding: 30px 50px;
    }

    .hero img {
        height: 400px;
    }

    .hero {
        height: auto;
    }
}

@media screen and (max-width:1024px) {
    .container {
        padding: 0px 10px;
    }

    .footerMain {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .container2 {
        padding-left: 10px;
    }

    .menus a {
        margin-left: 20px;
    }

    .about {
        margin: 120px 0px;
    }

    .skill {
        margin: 0px 0px 50px 0px;
    }

    .personData {
        grid-template-columns: auto auto;
    }
}

@media screen and (max-width:768px) {
    .menus {
        display: none;
    }

    .bar {
        display: block;
    }

    .hero {
        flex-direction: column-reverse;
    }

    .rightdiv {
        justify-content: center;
        margin-top: 40px;
    }

    .half-width {
        width: 100%;
    }

    .leftdiv {
        text-align: center;
        margin-top: 40px;
        padding-bottom: 20px;
    }

    .personData h4 {
        margin-bottom: 20px;
    }

    .resume,
    .footerMain {
        flex-direction: column;
        text-align: center;
    }

    .footerLeft {
        padding-right: 0px;
    }

    .resumeCard {
        height: auto;
        padding-bottom: 20px;
    }
}

@media screen and (max-width:480px) {
    .personData {
        grid-template-columns: auto;
    }
}